<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>

    <li><i class="<%= task.completed ? "far fa-check-square" : "far fa-square" %>"></i>
      <%= link_to task.title, task_path(task) %> -
      <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to new_task_path do %>
  <i class="fas fa-plus"></i> Add a new task
<% end %>
